/*https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#style
https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#frontend-enqueueing
https://drive.google.com/file/d/1u7ZmHE1y-Qd-IXY_mho3CPwAGWMU_48i/view?usp=sharing*/
P{
    color: rgb(22, 230, 49);
}