/*https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#style
https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#frontend-enqueueing
https://drive.google.com/file/d/1u7ZmHE1y-Qd-IXY_mho3CPwAGWMU_48i/view?usp=sharing*/
P{
    color: rgb(230, 22, 67) !important;
    background-image: url(../../../../../../uploads/2023/04/checklist-g914874aa9_1920.jpg);/*https://drive.google.com/file/d/1VD-BiN25HZb1yBbePfIFAPqbze1DvaTR/view?usp=sharing*/
}